// content begins

main(data-page='assets')
	header.top_block
		div.block_assets
			h1.main_title Assets
			a(href="new_asset.html").btn_invite.button-wave Issue new asset
		div.flex_block_row100
			div.asset_flex_block.container-shadow
				div.flex_block_row100
					div.flex_block_title Symbol:
					div.flex_block_name.ff-UbLightBold.script ETH
				div.flex_block_row100
					div.flex_block_title Name:
					div.flex_block_name.overflow-block Ethereum token
				div.flex_block_row100
					div.flex_block_title Balance:
					div.flex_block_name 1,000.0000000000
				.block_assets
					a(href="single_asset.html").btn_send.button-wave Send
			div.asset_flex_block.container-shadow
				div.flex_block_row100
					div.flex_block_title Symbol:
					div.flex_block_name.ff-UbLightBold.script GMT
				div.flex_block_row100
					div.flex_block_title Name:
					div.flex_block_name.overflow-block(title="GMTINCORPORATION ACTION") GMTINCORPORATION ACTION
				div.flex_block_row100
					div.flex_block_title Balance:
					div.flex_block_name 0.1255844485555
				.block_assets
					a(href="single_asset.html").btn_send.button-wave Send
			div.asset_flex_block.container-shadow
				div.flex_block_row100
					div.flex_block_title Symbol:
					div.flex_block_name.ff-UbLightBold.script AIM
				div.flex_block_row100
					div.flex_block_title Name:
					div.flex_block_name.overflow-block Argon Coin
				div.flex_block_row100
					div.flex_block_title Balance:
					div.flex_block_name 0.0000
				.block_assets.panel_bttn
					a(href="single_asset.html").btn_send.button-wave Send
	//- div.chat_trigger

// content ends