// content begins

main(data-page='dashboard')
	header.top_block

	div.main_info.container-shadow

		div.block_name
			h1.main_title.mr-t40 Organization
			+panel(' ', 'Edit')
			div.block_content
				div.group
					input.dash_input(type="text" value="Ambisafe" readonly)
					span.dash_label Company name
				div.panel_bttn.edit_block
					div.bttn_edit
		div.block_signatures
			+panel(' ', 'Edit')
			div.block_content
				div.group
					input.dash_input(type="text" value="1" readonly)
					span.dash_label Signature required
				div.panel_bttn.edit_block
					div.bttn_edit
		div.Checkbox.b14(style="margin-bottom:40px")
			input(type="checkbox")
			div.Checkbox-visible
			span.checkbox-title Hide sensitive information from emails
		div.block_owners
			div.block_panel
				p.title Owners
				span.bttn.clickable.save_btn#edit Edit
			div.owner_bl
					div.single_owner.single_width
						div.owner_name Andrey Zamovskiy
						div.bttn_close
			div.block_content(style="margin-bottom:445px")
				div.single_owner.owner_sets#add_owner
					div.owner_name.add_icon &nbsp;Add owner
				div.single_owner.single_width.t9#select_user
					div.owner_name Select user
				select#list_owners.dropdown
					option(value="1") Andrey Zamovskiy
					option(value="2") Oleh Vasylenko
					option(value="3") Anton Simernia
					option(value="4") Johny Kartakov
					option(value="5") Sergiy Martynenko
	div.cold_storage.container-shadow
		h1.main_title Cold Storage Address
		div.block_cs_adress.flex-row
			p.cs_code#code 0x3275b4h64ue34h98hf93g94t394d9384m398dl39
			div(data-clipboard-target="#code").bttn_copy.clickable
		div.panel_bttn.block_dash

				button(type='submit').btn_invite Send ETH from cold storage
		h1.main_title Cold Storage Balance
		div.tab_users.active
			div.table_users
				ul.row_title
					li.cell_email Symbol
					li.cell_name Quantity
					li.cell_active.txt_r(style="width:20%") Name
				-for (var i =0; i< 8; i++)
					ul.row_content
						li.cell_email(style="padding:25px 15px")
							span.mob_title Symbol
							span= storage_symbol[i]
						li.cell_name
							span.mob_title Quantity
							span= storage_quantity[i]
						li.cell_active.txt_r
							span.mob_title Name
							span= storage_name[i]
	#myModal.modal
		.modal-content.remAdd_modal
			div.close_container
				span.close
			h1.main_title.pd-l15(style="font-size:24px") Add/remove owner
			div.remAdd-title Lorem Ipsum Lorem IpsumLorem Lorem Ipsum Lorem IpsumLorem Lorem Ipsum Lorem IpsumLorem
			div.panel_bttn.block_users
				a(href="operation_complete_f.html").btn_send_invite.mr-10a Add/remove
