// content begins

main(data-page='edit_profile')
    header.top_block
    div.container-shadow.profile_block
        div.main_title.mr_l-10 Edit profile
        div.main_edit
            div.group.edit_profile
                input(type="text" required)
                span.highlight
                span.bar
                span(style="display:none").input_error Lorem ipsum
                label First name
            div.group.edit_profile
                input(type="text" required)
                span.highlight
                span.bar
                span(style="display:none").input_error Lorem ipsum
                label Last name
            div.group.edit_profile.t3
                input(type="text" required)
                span.highlight
                span.bar
                span(style="display:none").input_error Lorem ipsum
                label Email
            div.group.edit_profile.t5
                input(type="password" required)
                span.highlight
                span.bar
                span(style="display:none").input_error Lorem ipsum
                label Old password
            div.group.edit_profile.t7
                input(type="password" required)
                span.highlight
                span.bar
                span(style="display:none").input_error Lorem ipsum
                label New password
            div.group.edit_profile.t9
                input(type="password" required)
                span.highlight
                span.bar
                span(style="display:none").input_error Lorem ipsum
                label Confirm password
            div.Checkbox.checkbox_profile
                input(type="checkbox")
                div.Checkbox-visible
                span.checkbox-title Require email confirmation for each operation




