// content begins

main(data-page='edit_profile')
    header.top_block
    div.container-shadow.profile_block
        div.main_title Edit profile
        div.group
            input(type="text" required)
            span.highlight
            span.bar
            span(style="display:none").input_error Lorem ipsum
            label First name
        div.group
            input(type="text" required)
            span.highlight
            span.bar
            span(style="display:none").input_error Lorem ipsum
            label Last name
        div.group
            input(type="text" required)
            span.highlight
            span.bar
            span(style="display:none").input_error Lorem ipsum
            label Email
        div.group
            input(type="password" required)
            span.highlight
            span.bar
            span(style="display:none").input_error Lorem ipsum
            label Old password
        div.group
            input(type="password" required)
            span.highlight
            span.bar
            span(style="display:none").input_error Lorem ipsum
            label New password
        div.group
            input(type="password" required)
            span.highlight
            span.bar
            span(style="display:none").input_error Lorem ipsum
            label Confirm password
        div.Checkbox
            input(type="checkbox")
            div.Checkbox-visible
            span.checkbox-title Require email confirmation for each operation




