// content begins

main(data-page='login')
	header.top_block
		img.black-logo(src="images/logo-black.svg" alt="logo")
		h1.centred.flex-col.content_title
			span.flex-col.mr-top25  Hello,
			span.flex-col Asset Manager accounts are independent from Ambisafe website accounts
	form.new_asset(novalidate)
		div.group
			input(type="text" required)
			span.highlight
			span.bar
			span(style="display:none").input_error Lorem ipsum
			label Email
		div.group
			input(type="text" required)
			span.highlight
			span.bar
			span(style="display:none").input_error Lorem ipsum
			label First Name
		div.group
			input(type="text" required)
			span.highlight
			span.bar
			span(style="display:none").input_error Lorem ipsum
			label Last Name
		div.group
			input(type="text" required)
			span.highlight
			span.bar
			span(style="display:none").input_error Lorem ipsum
			label Company Name
		div.group
			input(type="password" required)
			span.highlight
			span.bar
			span(style="display:none").input_error Lorem ipsum
			label Password
		div.group
			input(type="password" required)
			span.highlight
			span.bar
			span(style="display:none").input_error Lorem ipsum
			label Confirm Password
		div.bottom_block.non-brd
			button(type='submit').bttn_submit Sign Up
	footer.main_footer &copy; 2017 Ambisafe Inc. All right reserved

// content ends