// content begins

main(data-page='login')
	header.top_block
		img.black-logo(src="images/logo-black.svg" alt="logo")
		h1.centred.flex-col.content_title
			span.flex-col.mr-top25  Hello, 
			span.flex-col Asset Manager accounts are independent from Ambisafe website accounts 
	form.new_asset
		div.single_field
			material-input(type='email' label="Email")
		div.single_field
			material-input(type='text' label="First Name")
		div.single_field
			material-input(type='text' label="Last Name")
		div.single_field
			material-input(type='text' label="Company Name")
		div.single_field
			material-input(type='password' label="Password")
		div.single_field
			material-input(type='password' label="Confirm Password")
		div.bottom_block.non-brd
			button(type='submit').bttn_submit Sign Up
	footer.main_footer &copy; 2017 Ambisafe Inc. All right reserved

// content ends