// content begins

main(data-page='assets')
	header.top_block
	div.operation_content.container-shadow.asset_info-block
		h1.main_title
			span ArgonCoin
		div.title.title_border
			div.flex-row.mr_l10 Info
		div.text_description
			div.flex-col.mr_l10
				.flex-row
					div.asset_info-title Cold Storage Balance:
					div.mr_l20 123456.7890123 AST
				.flex-row
					div.asset_info-title Cold Storage Balance:
					div#code.mr_l20 0x2hf74jvn8gkc3794jg38fht3910ch48r
					div(data-clipboard-target="#code").bttn_copy.clickable
		div.title.title_border.mr_t40
			div.asset_info-text
				div.asset_info-desc Symbol
				div.asset_info-desc Base Unit
				div.asset_info-desc  Supply
		div.text_description
			div.asset_info-text
				div.asset_info-desc AIM
				div.asset_info-desc 10
				div.asset_info-desc 1,000.0000000000
		div.block_owners.mr-t40
			h5.main_title Owners
			ul.list_owners
				each owner in owners
					li.single_owner= owner
		div.block_owners.mr_t-40
			h5.main_title Available operations
		div.block_pass.flex-col.mr_b250
			div.flex-row.mr-t30
				div.single_field.flex-col.asset_select
					select.custom-select
						option Reissue asset
						option Send
						option Send to ICAP
						option Operation_004
						option Operation_005
						option Operation_006
				div.flex-col
					div.text_explanation Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem Ipsum
					.block_operation
						div.mr_t-50.btn_approve#myBtn Proceed
	#myModal.modal(style="padding-top: 5%")
		.modal-content.assets_modal
			div.close_container
				span.close
			h1.main_title.pd-l15 Send
			div.modal_inputs
				div.group
					input(type="text" required)
					span.highlight
					span.bar
					span(style="display:none").input_error Lorem ipsum
					label To adress
					div.single_modal_text Lorem ipsum Lorem ipsum Lorem ipsum
				div.group
					input(type="text" required)
					span.highlight
					span.bar
					span(style="display:none").input_error Lorem ipsum
					label Amount
					div.single_modal_text Lorem ipsum Lorem ipsum Lorem ipsum
			div.panel_bttn.block_users
				button(type='submit').btn_send_invite.mr-10a Continue

// content ends