title Ambisafe
meta(charset='utf-8')
meta(name="viewport" content="width=device-width, initial-scale=1.0")

link(rel="icon" href="images/favicon-ambisafe.png" type="image/png")

link(rel='stylesheet', href='stylesheets/style.css')
script(src="js/min/jquery-3.1.1.min.js", defer)
script(src="js/min/clipboard.min.js", defer)
script(src='js/script.js', defer)
