.profile_block {
    width: 620px !important;
    margin-top: 20px; // margin-left: 25px;
    padding-bottom: 150px;
    background-color: #fff;
}

.edit_profile {
    margin-bottom: 47px !important;
    input,
    .bar {
        width: 513px !important;
    }
}

.checkbox_profile {
    top: 15px !important;
    margin-bottom: 65px !important;
}

.main_edit {
    margin-top: 35px !important;
    margin-bottom: 10px !important;
}