$dark1: #2b2b2b;
$grey1: #202020;
$grey2: #acacac;
$grey3: #989696;
$white1: #ffffff;
//Border
$c_bd_st: #ccc;
$c_bd_table: #e8e8e8;
$c_bd_light: $white1;
$c_bd_dark: $dark1;
$c_bd_grey: #c0c0c0;
$c_bd_bttn_hov:#666;
$c_bd_checkbox:  #979797;
$c_bd_input: #acacac;
// Bg
$c_bg_dark: $dark1;
$c_bg_light: $white1;
$c_bg_grey_d: $grey1;
$c_bg_grey_l:$grey2;
$c_bg_grey_l_u: #fafafa;
$c_bg_grey_n : #e8e8e8;
$c_bg_input_owners: #f3f3f3;
$c_bg_bttn_st: #aaa;
$c_bg_bttn_hov:#B9B9B9;
// Font
$c_font_dark: #222; //$grey1;
$c_font_bttn: #444;
$c_font_grey_d: $dark1;
$c_font_grey_n: $grey2;
$c_font_grey_l: #666666;
$c_font_grey_n_u: #555555;
$c_font_grey: #aaa;
$c_font_light: $white1;

$ambisafe-red: #f92324;
$ambisafe-grey: #989697;
$ambisafe-grey-hover:#B9B9B9;
$ambisafe-grey-hover:#2D2D2D;
$gl-btn:#57AD7B;
$gl-btn-hover:#4C976C;
//  8e8e8e 202020

/*$c_font_grey_d: #555; // 2b2b2b 0.8 op
$c_font_grey_l: #acacac; //menu edit
$c_font_light: #fff;
$c_font_*/

// Hover bg
$c_menu_act: #555555;
$c_menu_lvl_1_hov: #404040;
$c_menu_lvl_2_hov: #353535;
$c_bd_hover_bttn : #8e8e8e;


/*grey: --#ccc border
--#aaa font ( #222 0.3)
#e8e8e8 bg 

black:

font --#222 #444 
*/
