@font-face {
	font-family: GothamPro;
	src: url(../fonts/GothamProRegular.ttf)
}

@font-face {
	font-family: GothamProMedium;
	src: url(../fonts/GothamProMedium.ttf)
}

@font-face {
	font-family: GothamProBold;
	src: url(../fonts/GothamProBold.ttf)
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Regular.ttf)
}

@font-face {
	font-family: RobotoMedium;
	src: url(../fonts/Roboto-Medium.ttf)
}

@font-face {
	font-family: RobotoBold;
	src: url(../fonts/Roboto-Bold.ttf)
}

@font-face {
	font-family: GothamPro-Regular;
	src: url(../fonts/GothamProRegular.ttf)
}


/*@font-face {
	font-family: GothamPro-Light;
	src: url(../fonts/GothamProLight.ttf)
}*/

@font-face {
	font-family: GothamPro-Medium;
	src: url(../fonts/GothamProMedium.ttf)
}

@font-face {
	font-family: GothamPro-Bold;
	src: url(../fonts/GothamProBold.ttf)
}

@font-face {
	font-family: Roboto-Regular;
	src: url(../fonts/Roboto-Regular.ttf)
}

@font-face {
	font-family: Roboto-Medium;
	src: url(../fonts/Roboto-Medium.ttf)
}

@font-face {
	font-family: Roboto-Bold;
	src: url(../fonts/Roboto-Bold.ttf)
}

@font-face {
	font-family: Roboto-Thin;
	src: url(../fonts/Roboto-Thin.ttf)
}

@font-face {
	font-family: Roboto-Light;
	src: url(../fonts/Roboto-Light.ttf)
}

@font-face {
	font-family: CenturyGothic-Bold;
	src: url(../fonts/century-gothic-bold.ttf)
}

@font-face {
	font-family: Ubuntu-Light;
	src: url(../fonts/ubuntu/Ubuntu-Light.ttf)
}

@font-face {
	font-family: Ubuntu-Regular;
	src: url(../fonts/ubuntu/Ubuntu-Regular.ttf)
}

@font-face {
	font-family: Ubuntu-Bold;
	src: url(../fonts/ubuntu/Ubuntu-Bold.ttf)
}

@font-face {
	font-family: UbuntuLight-Bold;
	src: url(../fonts/ubuntu/Ubuntu-Medium.ttf)
}

$GPR:GothamPro-Regular,
sans-serif;
$GPL:GothamPro-Light,
sans-serif;
$GPM:GothamPro-Medium,
sans-serif;
$GPB:GothamPro-Bold,
sans-serif;
$RobR:Roboto-Regular,
sans-serif;
$RobM:Roboto-Medium,
sans-serif;
$RobB:Roboto-Bold,
sans-serif;
$RobT:Roboto-Thin,
sans-serif;
$RobL:Roboto-Light,
sans-serif;
$CGB:CenturyGothic-Bold,
sans-serif;
