$menu_w: 280px;
$desktop: 1170px;
$laptop: 970px;
$tablet: 750px;
$right_col_w: 314px * 2;
$table_title_h:45px; // 49px;
$row_height: 49px; //48px;
$row_h_mob: 40px;
$input_w: 253px;
$input_h: 30px;
$title_h: 32px;
$main_content_hz_pad: 12px;
