include ../index_help/variables    
include ../index_help/mixins   


doctype html
html
	head
		include ../index_meta/head   
	body.general_wrapper
		include ../index_comp/menu_left
		include ../index_comp/content_dash