-var nav_links_1 = ['Organization', 'Operation history', 'Assets'];
-var nav_links_2 = ['Dashboard', 'Manage users', 'Assets', 'Issue new asset', 'Edit profile'];
-var nav_links_2_href = ['dashboard.html', 'manage_users.html', 'operation_history.html'];
-var owners = ['Andrey Zamovskiy', 'Oleh Vasylenko', 'Anton Simernia','Johny Kartakov','Sergiy Martynenko'];
-var cs_titles = ['GMTINCORPORATION OBLIGATIONS', 'SomeFund', 'NixoidCoin'];
-var cs_balances = ['132094.0284897', '63094.84', '94.02847'];
-var cs_currency = ['GMT', 'SOME', 'NIXC'];
-var lorem1 = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed';
-var users_email = ['deploy@ambisafe.co', 'anton.simernia@ambisafe.co','deploy+goldminingtech@ambisafe.co','konstantin@argongroup.com','anton.simernia+test@ambisafe.co','anton.simernia+test2@ambisafe.co','anton.simernia+test3@ambisafe.co','oleksii+crash@ambisafe.co'];
-var users_name = ['Deploy Key','Anton Simernia','common GMT','Konstantin','Test Mobile','Test Mobile2','Test Mobile3','Test Crash'];
-var users_active = ['Yes','Yes','No','No','Yes','No','No','Yes'];
-var users_super = ['Yes','No','No','No','No','No','No','No'];
-var invites_email = ['alexandr.cherepuschak@ambisafe.co', 'konstantin@argongroup.com','oleksii+crash@ambisafe.co','deploy+goldminingtech@ambisafe.co'];
-var operations_descriptions = ["Add owner Oleksii","Issue asset GROW","Send 1234.56789 GROW to 0x2hf74jvn8gkc3794jg38fht3910ch48r","Reissue asset CGR, value: 54321.0","Send 123456.7890123 AST to 0x2hf74jvn8gkc3794jg38fht3910ch48r","Add owner Anton","Send 123456.7890123 AST to 0x2hf","Issue asset AST","Issue asset AMB","Send 456.78903 TAAS to 0x2hf74jvn8gkc3794jg38fht3910ch48r","Send 456.78903 TAAS to 0x2hf74jvn8gkc3794jg38fht3910ch48r","Send 456.78903 TAAS to 0x2hf74jvn8gkc3794jg38fht3910ch48r","Add owner Oleh","Send 123456.7890123 AST to 0x2hf74jvn8gkc3794jg38fht3910ch48r","Add owner Oleksii","Issue asset GROW","Send 1234.56789 GROW to 0x2hf74jvn8gkc3794jg38fht3910ch48r","Reissue asset CGR, value: 54321.0","Send 123456.7890123 AST to 0x2hf74jvn8gkc3794jg38fht3910ch48r","Add owner Anton","Send 123456.7890123 AST to 0x2hf","Issue asset AST","Issue asset AMB","Send 456.78903 TAAS to 0x2hf74jvn8gkc3794jg38fht3910ch48r","Send 456.78903 TAAS to 0x2hf74jvn8gkc3794jg38fht3910ch48r","Send 456.78903 TAAS to 0x2hf74jvn8gkc3794jg38fht3910ch48r","Add owner Oleh","Send 123456.7890123 AST to 0x2hf74jvn8gkc3794jg38fht3910ch48r","Add owner Oleksii","Issue asset GROW","Send 1234.56789 GROW to 0x2hf74jvn8gkc3794jg38fht3910ch48r","Reissue asset CGR, value: 54321.0","Send 123456.7890123 AST to 0x2hf74jvn8gkc3794jg38fht3910ch48r","Add owner Anton","Send 123456.7890123 AST to 0x2hf","Issue asset AST","Issue asset AMB","Send 456.78903 TAAS to 0x2hf74jvn8gkc3794jg38fht3910ch48r","Send 456.78903 TAAS to 0x2hf74jvn8gkc3794jg38fht3910ch48r","Send 456.78903 TAAS to 0x2hf74jvn8gkc3794jg38fht3910ch48r","Add owner Oleh","Send 123456.7890123 AST to 0x2hf74jvn8gkc3794jg38fht3910ch48r"];
-var operation_history_user = ['Andrey Zamovskiy', 'Oleh Vasylenko', 'Anton Simernia', 'Oleh Vasylenko'];
-var operation_history_status = ['OK', 'Pending', 'Error', 'OK'];
-var operations_status = ['Complete' ,'1 of 3 signatures', '2 of 5 signatures', 'Non complete','Complete' ,'1 of 3 signatures', '2 of 5 signatures', 'Non complete','Complete' ,'1 of 3 signatures', '2 of 5 signatures', 'Non complete','Complete' ,'1 of 3 signatures', '2 of 5 signatures', 'Non complete','Complete' ,'1 of 3 signatures', '2 of 5 signatures', 'Non complete']
-var users_status = ['Owner','Owner','Owner','Active User', 'Active User','Invited user','Active User','Active User']
-var storage_symbol = ['ETH','GMT','FND','NX3','AIM','AQUA','GDX','GHS']
-var storage_name = ['Ethereum','GMTInCorporation Obligations','SomeFund','NixoidCoin3','ArgonCoin','Auqa','Gdax','Gigahashes']
-var storage_quantity = ['0.4675825200000','0.4678908980000','0.46759080000','0.469075000','0.46757590887000','0.46756789000','0.4698000','0.754509000000']
